{% extends 'base.html.twig' %}

{% block title 'Create Question' %}

{% block body %}
    <div class="row mt-5">
        <div class="col-md-8 mx-auto">
            <h1 class="text-center">Create Question</h1>
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_label(form.content) }}
            {{ form_help(form.content) }}
            {{ form_widget(form.content) }}
            {{ form_errors(form.content) }}
            <button class="col-12 btn btn-primary btn-lg mt-3" type="submit">Soumettre la question</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
