{% extends 'base.html.twig' %}

{% block title 'Steak Overflow - '~question.title %}

{% block body %}
    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
        <a class="btn btn-outline-primary my-1" href="{{ path('app_question_edit', {id:question.id}) }}">Editer la question</a>
        <div class="js-form-delete-container me-sm-auto ms-2">
            <a class="js-button-delete btn btn-outline-danger" href="#">Supprimer la question</a>
            <form class="js-form-delete d-none" action="{{ path('app_question_delete', {id: question.id}) }}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="csrf_token" value="{{ csrf_token('question.delete'~question.id) }}">
            </form>
        </div>
        <a class="btn btn-outline-dark my-1" href="{{ path('app_question_index') }}">Retour</a>
    </div>
    <div class="row mt-3">
        <div class="col-md-10 p-0 mx-auto card">
            <h5 class="card-header">{{ question.title }}</h5>
            <div class="card-body py-3">
                <p class="card-text">{{ question.content }}</p>
            </div>
        </div>
    </div>
{% endblock %}
