{% extends 'base.html.twig' %}

{% block title 'Mon compte' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <div class="card shadow">
                <div class="card-body py-3">
                    <h1 class="my-3">Mon compte</h1>
                    <p class="mt-4 lead">{{ app.user.email }}</p>
                    <h2>{{ app.user.fullName }}</h2>
                    <div class="row my-5 px-3">
                        <div class="col-md-4 my-2">
                            <h1>{{ app.user.questions|length }}</h1>
                            Questions posées
                        </div>
                        <div class="col-md-4 my-2">
                            <h1>{{ app.user.answers|length }}</h1>
                            Réponses
                        </div>
                        <div class="col-md-4 my-2">
                            <h1>{{ validAnswers|length }}</h1> Réponses validées
                        </div>
                    </div>
                    <a href="{{ path('app_user_account_edit') }}">Editer les informations</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
