{% extends 'base.html.twig' %}

{% block title 'Edition du compte' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <div class="card shadow">
                <div class="card-body py-3">
                    <h1 class="my-3">Edition du compte</h1>
                    {{ form_start(form) }}
                    {{ form_row(form.imageFile) }}
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.email) }}
                    <button class="col-12 btn btn-primary btn-lg mt-3" type="submit">Mettre à jour</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
